.mainColor {
    color: #1bbde4 !important;
}

.mainBgColor {
    background-color: #1bbde4 !important;
    border-color: #1bbde4 !important;
}

.filter {
    border: 1px solid #80808089;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.filter:hover {
    background-color: #1bbde4;
    color: #fff !important;
    border : 1px solid #1bbde4;
}